@import url("https://fonts.googleapis.com/css2?family=Titillium+Web:wght@600&display=swap");
.card-group {
  width: 1512px;
  margin: 50px 75px;
  padding: 30px;
  gap: 30px;
  border-bottom: 1px #5d5d5d solid;
  border-top: 1px #5d5d5d solid;
}

.card-img-top {
  border-radius: 15px;
  border: none;
  padding: 10px;
}

.card-group .card {
  background: rgba(255, 255, 255, 0.08);
  --bs-card-border-width: 0px;
  -webkit-backdrop-filter: blur(3px);
          backdrop-filter: blur(3px);
}

.card-title {
  font-family: "Titillium Web", sans-serif;
}

.card-text {
  text-shadow: 0px 0px 10px #000000;
}

.card-text, .card-title {
  color: #fff;
}

.title-heroes {
  color: white;
  text-align: center;
  text-transform: uppercase;
}
.title-heroes #hero-t p {
  font-family: "Titillium Web", sans-serif;
  font-size: 16px;
}
.title-heroes p {
  font-weight: bold;
  font-size: 20px;
}
.title-heroes h2 {
  margin-top: 50px;
  font-size: 80px;
}

@media screen and (max-width: 1440px) {
  .card-group {
    width: 1440px;
  }
}
@media screen and (max-width: 1024px) {
  .card-group, .card-body, .card-img-top {
    margin: 0 auto;
    width: 100%;
  }
  .card-group .card-group, .card-body .card-group, .card-img-top .card-group {
    width: 300px;
    margin: 0 auto;
  }
  .card-group img, .card-body img, .card-img-top img {
    width: 100%;
  }
  .card-group .card, .card-group p, .card-body .card, .card-body p, .card-img-top .card, .card-img-top p {
    width: 300px;
  }
  .card-group .card, .card-body .card, .card-img-top .card {
    width: 350px;
  }
  .title-heroes h2 {
    font-size: 30px;
    text-align: center;
  }
  .title-heroes pre {
    font-size: 12px;
    text-align: center;
  }
}
@media screen and (max-width: 768px) {
  .card-group, .card-body, .card-img-top {
    margin: 0 auto;
    width: 100%;
  }
  .card-group .card-group, .card-body .card-group, .card-img-top .card-group {
    width: 300px;
    margin: 0 auto;
  }
  .card-group img, .card-body img, .card-img-top img {
    width: 100%;
  }
  .card-group .card, .card-group p, .card-body .card, .card-body p, .card-img-top .card, .card-img-top p {
    width: 200px;
  }
  .card-group .card, .card-body .card, .card-img-top .card {
    width: 350px;
  }
  .card-group .card-body h3, .card-body .card-body h3, .card-img-top .card-body h3 {
    font-size: 20px;
  }
  .title-heroes h2 {
    font-size: 30px;
    text-align: center;
  }
  .title-heroes p {
    font-size: 12px;
    max-width: 768px;
  }
}
@media all and (max-width: 400px) {
  .card-group, .card-body, .card-img-top {
    margin: 0 auto;
    width: 100%;
    width: 350px;
  }
  .card-group img, .card-body img, .card-img-top img {
    width: 100%;
  }
  .card-group .card, .card-group p, .card-body .card, .card-body p, .card-img-top .card, .card-img-top p {
    width: 300px;
  }
  .card-group .card, .card-body .card, .card-img-top .card {
    width: 350px;
  }
  .card-group .card .card-img-top, .card-body .card .card-img-top, .card-img-top .card .card-img-top {
    width: 350px;
  }
  .title-heroes h2 {
    font-size: 30px;
    text-align: center;
    max-width: 399px;
  }
}/*# sourceMappingURL=cards.css.map */