@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;500;600;700&display=swap');

.navblock {
    background-color: black;
    display: flex;
    text-decoration: none;
    position: fixed;
    text-align: center;
    box-sizing: border-box;
    border: 5px solid black;
    align-items: center;
    width: 100%;
    text-transform: uppercase;
    z-index: 1000;
    .logo img {
        width: 100px;
        margin-right: 40px;
        margin-top: 5px;
    }
    ul {
        display: flex;
        justify-content: flex-start;
        gap: 20px;
        font-size: 15px;
        font-family: 'Open Sans', sans-serif;
        list-style: none;
        padding-top: 13px;
        a {
            text-decoration: none;
            color: rgba(255, 255, 255, 0.724);
            &:hover {
                color: white;
                transition: .3s;
            }
        }
    }
    

}