.foot-text {
    margin-top: 150px;
    background-color: black;
    display: flex;
    justify-content: center;
    ul{
        width: 200px;
        padding: 150px;
        display: flex;
        justify-content: center;
        li {
            border-bottom: 1px solid white;
            list-style: none;
            letter-spacing: 1px;
            color: #adabab;
            text-align: center;
        }
        a {
            gap: 50px;
            color: #adabab;
            text-decoration: none;
            text-transform: uppercase;
            font-size: 15px;
        }
    }

}
