@import url('https://fonts.googleapis.com/css2?family=Exo+2:wght@700&display=swap');

@mixin text {
    font-family: 'Open Sans', sans-serif;
    color: white;
}

.newera {
    justify-items: center;
    align-items: center;
    text-align: center;
    margin-top: 150px;
    display: flex;
    flex-direction: column;

    h3 {
        // @include text;
        font-family: 'Exo 2', sans-serif;
        font-style: normal;
        font-weight: 700;
        font-size: 40px;
        margin-bottom: 15px;
        color: white;
    }
    img {
        width: 600px;
        margin-bottom: 40px
    }
    p {
        @include text;
        margin-bottom: 15px;
        font-weight: 400;
        font-size: 20px;
        box-sizing: border-box;
        width: 65%;
    }
    
}

@media screen and (max-width: 399px) {
    .newera {
        justify-content: center;
        text-align: center;
        align-items: center;
        h3 {
            text-align: center;
        }
        img {
            width: 300px;
        }
    }
}