@import url('https://fonts.googleapis.com/css2?family=Nanum+Gothic:wght@700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Barlow:wght@500;600&display=swap');
@mixin jcc {
    display: flex;
    justify-content: center;
}
.heroes {
    @include jcc;
    margin-top: 30px;
    width: 100%;
    border-bottom: 1px #5d5d5d solid;
    border-top: 1px #5d5d5d solid;
    background: rgba(255, 255, 255, 0.05);
    backdrop-filter: blur(3px);
    .hero {
        max-width: 90%;
        position: relative;
        .imgblock {
            img {
                width: 297px;
            }
        } 
        p {
            position: absolute;
            margin-top: -230px;
            color: white;
            padding: 15px;
            text-shadow: 0px 3px 6px #000000;
            text-transform: uppercase;
            font-family: 'Titillium Web', sans-serif;
            
            font-size: clamp(1.1rem, 2vw, 3rem);
            letter-spacing: 2.8px;
            
        }
        #text2 , #text5 {
            margin-top: -180px; 
        }
        #text4 {
            margin-top: -130px;
        }
    }      
}

.modern {
    margin-top: 70px;
    h2 {
        font-family: 'Exo 2', sans-serif;
        font-weight: 700;
        color: white;
        font-size: clamp(2.7rem, 4.2vw, 5.7rem);
        text-align: center;
        line-height: 1;
        margin-bottom: 40px;
        padding: 0 15px;
    }
}

.wrapper, .wrapper2 {
    display: flex;
    justify-content: center;
    &:hover {
        cursor: pointer;
    }
}

.wrapper-btn{
    @include jcc;
    button  {
        font-family: 'Open Sans', sans-serif;
        font-size: 24px;
        text-align: center;
        width: 400px;
        margin-top: 25px;
        background: #71af3a;
        color: #d2d4cd;
        border: 1px solid #71af3a;
        font-size: 18px;
        padding: 12px 48px;
        align-items: center;
        transition: .3s all ease-in-out;
        &:hover {
            color: white;
            text-shadow: 0px 0px 15px black;
    }
    }
}
.wrapper-btn2 {
    @include jcc;
    button{
        color: #171a1a;
        font-family: 'Open Sans', sans-serif;
        font-size: 24px;
        text-align: center;
        width: 400px;
        margin-top: 25px;
        background: #c2c5bb;
        border: none;
        font-size: 18px;
        padding: 12px 48px;
        align-items: center;
        transition: .3s all ease-in-out;
        &:hover {
            background-color: white;
            text-shadow: 0px 0px 15px black;
    }
    }
}

.wrapper-title-end {
    @include jcc;
    h2 {
        font-family: 'Barlow', sans-serif;
        font-weight: 500;
        margin-top: 100px;
        color: #ffffff;
        font-size: clamp(2.7rem, 4.2vw, 5.7rem);
        text-align: center;
        line-height: 1;
        margin-bottom: 50px;
        padding: 0 15px;
    }
}
@mixin block-jcc {
    display: block;
    justify-content: center;
}
    .wrapper2 {
        @include block-jcc;
        img {
            width: 80%;
            margin: 0 auto;
            @include block-jcc;

        }
    }
    .heroes  {
        display: flex;
        align-items: center;
        width: 100%;
        justify-content: center;
        box-sizing: border-box;
    }
    .imgblock {
        img {
            justify-content: center;
        }
    }
   
    
    
    /* 1440px adaptive */
    
    @media  screen  and (max-width: 1440px) {
        
        .wrapper-btn, .wrapper-btn2  {
            button {
                width: 300px;
                padding: 5px;
            }
        }
        .wrapper{
            display: flex;
            margin: 0 auto;
            width: 900px;
            justify-content: center;
            
            img {
                margin: 0 auto;
                width: 600px;
            }
        } 
        .wrapper2 {
            justify-content: center;
            align-items: center;
            margin: 0 auto;
            img {
                width: 1170px;
                justify-content: center;
                margin: 0 auto;
                
            }
        }
        
        .wrapper-btn, .wrapper-btn2  {
            button {
                width: 400px;
                padding: 5px;
            }
        }
        .wrapper-title-end {
            h2 {
                font-size: 60px;
                text-align: center;
                width: 1120px;
            }
        }
        .modern {
            margin-top: 70px;
            h2 {
                font-family: 'Exo 2', sans-serif;
                font-weight: 700;
                color: white;
                font-size: 60px;
                text-align: center;
                line-height: 1;
                margin-bottom: 40px;
                padding: 0 15px;
            }
        }
        .heroes {
            width: 1440px;
            margin: 0 auto;
            .hero {
                width: 278px;
                #text1 {
                    padding: 25px;
                }
                #text3 {
                    padding: 25px;
                }
            }
        }
    }
    
    /* 1024px adaptive */
    
    
    @media  screen  and (max-width: 1024px) {
        
        .wrapper-btn, .wrapper-btn2  {
            button {
                width: 300px;
                padding: 5px;
            }
        }
        .wrapper{
            display: flex;
            margin: 0 auto;
            width: 500px;
            justify-content: center;
            
            img {
                margin: 0 auto;
                width: 400px;
            }
        } 
        .wrapper2 {
            justify-content: center;
            align-items: center;
            margin: 0 auto;
            // width: 900px;
            img {
                width: 780px;
                justify-content: center;
                margin: 0 auto;
            }
        }
        .wrapper-title-end {
            h2 {
                font-size: 40px;
                text-align: center;
                width: 800px;
            }
        }
        .heroes {
            max-width: 1024px;
            .hero:first-child{
                display: none;
            }
            .hero:last-child {
                display: none;
            }
        }
        #text2 {
            padding: 60px 10px;
        }
        #text3 {
            padding: 78px 15px;
        }
    }
     /* 900px adaptive */
    @media  screen  and (max-width: 900px) {
        
        .wrapper-btn, .wrapper-btn2  {
            button {
                width: 200px;
                padding: 5px;
            }
        }
        .wrapper{
            display: flex;
            margin: 0 auto;
            width: 600px;
            
            img {
                margin: 0 auto;
                width: 340px;
            }
        } 
        .wrapper2 {
            // width: 400px;
            justify-content: center;
            align-items: center;
            margin: 0 auto;
            
            img {
                width: 660px;
                justify-content: center;
                align-items: center;
            }
        }
        
        .wrapper-btn, .wrapper-btn2  {
            button {
                width: 400px;
                padding: 5px;
            }
        }
        .wrapper-title-end {
            h2 {
                font-size: 30px;
                text-align: center;
                width: 700px;
            }
        }
        .modern {
            margin-top: 70px;
            h2 {
                font-family: 'Exo 2', sans-serif;
                font-weight: 700;
                color: white;
                font-size: 30px;
                text-align: center;
                line-height: 1;
                margin-bottom: 40px;
                padding: 0 15px;
            }
        }
        .heroes {
            width: 900px;
            margin: 0 auto;
            .hero {
                width: 300px;
            }
            .imgblock {
                width: 600px;
                img {
                    width: 220px;
                }
            }
        }
    }

    @media  screen  and (max-width: 768px) {
        .heroes {
            max-width: 768px;
            margin: 0 auto;
            .hero {
                width: 200px;
                .imgblock {
                    img {
                        width: 200px;
                    }
                }
            }
            .imgblock {
                width: 100px;
                img {
                    width: 100px;
                }
            }
        }

    }

    @media  screen  and (max-width: 400px) {
    
        .wrapper-btn, .wrapper-btn2  {
            button {
                width: 200px;
                padding: 5px;
            }
        }
        .wrapper{
            @include block-jcc;
            width: 400px;
            // align-items: center;
            
            img {
                margin: 0 auto;
                width: 300px;
                @include block-jcc;
    
            }
        }
        .wrapper2 {
            // width: 400px;
            justify-content: center;
            align-items: center;
            margin: 0 auto;
            
            img {
                width: 290px;
                justify-content: center;
                align-items: center;
            }
        }
        .heroes {
            display: block;
            justify-content: center;
            width: 300px;
            margin: 0 auto;
            // max-width: 399px;
            .hero {
                width: 300px;
            }
            .imgblock {
                width: 100%;
                max-width: 399px;
                img {
                    width: 295px;
                }
            }
            
        }
        .heroes .hero .imgblock img{
            width: 300px;
        }
    }
