@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;500;600;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Exo+2:wght@700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Titillium+Web:wght@600&display=swap");
@import "../heroes/heroes.css";
@import "../body/body.css";
.navblock {
  background-color: black;
  display: flex;
  text-decoration: none;
  position: fixed;
  text-align: center;
  box-sizing: border-box;
  border: 5px solid black;
  align-items: center;
  width: 100%;
  text-transform: uppercase;
  z-index: 1000;
}
.navblock .logo img {
  width: 100px;
  margin-right: 40px;
  margin-top: 5px;
  margin-bottom: 5px;
  margin-left: 10px;
}
.navblock ul {
  display: flex;
  justify-content: flex-start;
  gap: 20px;
  font-size: 15px;
  font-family: "Open Sans", sans-serif;
  list-style: none;
  padding-top: 13px;
}
.navblock ul a {
  text-decoration: none;
  color: rgba(255, 255, 255, 0.724);
}
.navblock ul a:hover {
  content: attr(data-text);
  width: 0;
  color: var(--clr);
  overflow: hidden;
  transition: 0.5s ease-in-out;
  -webkit-text-stroke: 1px var(--clr);
  filter: drop-shadow(0 0 25px var(--clr));
}

@media screen and (max-width: 1440px) {
  .navblock {
    max-width: 1440px;
  }
}
@media screen and (max-width: 1024px) {
  .navblock {
    max-width: 1024px;
  }
}
@media screen and (max-width: 768px) {
  .navblock {
    max-width: 768px;
  }
}
@media screen and (max-width: 400px) {
  .navblock {
    position: fixed;
    height: 4%;
    background-color: black;
    max-width: 399px;
    z-index: 100;
    text-align: center;
  }
  .navblock .logo a img {
    width: 50px;
    margin: 0 auto;
    padding-left: 5px;
  }
  .navblock ul {
    font-size: 10px;
    text-align: center;
    max-width: 390px;
    align-items: center;
    padding: 0px 10px;
    margin: 0 auto;
  }
  .navblock li {
    font-size: 10px;
    text-align: center;
    justify-content: center;
    align-items: center;
  }
}
.newera {
  justify-items: center;
  align-items: center;
  text-align: center;
  margin-top: 150px;
  display: flex;
  flex-direction: column;
}
.newera h3 {
  font-family: "Exo 2", sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 40px;
  margin-bottom: 15px;
  color: white;
}
.newera img {
  width: 600px;
  margin-bottom: 40px;
}
.newera p {
  font-family: "Open Sans", sans-serif;
  color: white;
  margin-bottom: 15px;
  font-weight: 400;
  font-size: 20px;
  box-sizing: border-box;
  width: 65%;
}

@media screen and (max-width: 1440px) {
  .newera h3 {
    margin-top: 40px;
  }
}
@media screen and (max-width: 1024px) {
  .newera {
    margin-top: -30px;
  }
}
@media screen and (max-width: 768px) {
  .newera h3 {
    margin-top: 50px;
  }
}
@media screen and (max-width: 400px) {
  .newera {
    justify-content: center;
    text-align: center;
    align-items: center;
  }
  .newera h3 {
    text-align: center;
  }
  .newera img {
    width: 280px;
  }
}
.card-group {
  width: 1512px;
  margin: 50px 75px;
  padding: 30px;
  gap: 30px;
  border-bottom: 1px #5d5d5d solid;
  border-top: 1px #5d5d5d solid;
}

.card-img-top {
  border-radius: 15px;
  border: none;
  padding: 10px;
}

.card-group .card {
  background: rgba(255, 255, 255, 0.08);
  --bs-card-border-width: 0px;
  -webkit-backdrop-filter: blur(3px);
          backdrop-filter: blur(3px);
}

.card-title {
  font-family: "Titillium Web", sans-serif;
}

.card-text {
  text-shadow: 0px 0px 10px #000000;
}

.card-text, .card-title {
  color: #fff;
}

.title-heroes {
  color: white;
  text-align: center;
  text-transform: uppercase;
}
.title-heroes #hero-t p {
  font-family: "Titillium Web", sans-serif;
  font-size: 16px;
}
.title-heroes p {
  font-weight: bold;
  font-size: 20px;
}
.title-heroes h2 {
  margin-top: 50px;
  font-size: 80px;
}

@media screen and (max-width: 1440px) {
  .card-group {
    width: 1440px;
  }
}
@media screen and (max-width: 1024px) {
  .card-group, .card-body, .card-img-top {
    margin: 0 auto;
    width: 100%;
  }
  .card-group .card-group, .card-body .card-group, .card-img-top .card-group {
    width: 300px;
    margin: 0 auto;
  }
  .card-group img, .card-body img, .card-img-top img {
    width: 100%;
  }
  .card-group .card, .card-group p, .card-body .card, .card-body p, .card-img-top .card, .card-img-top p {
    width: 300px;
  }
  .card-group .card, .card-body .card, .card-img-top .card {
    width: 350px;
  }
  .title-heroes h2 {
    font-size: 30px;
    text-align: center;
  }
  .title-heroes pre {
    font-size: 12px;
    text-align: center;
  }
}
@media screen and (max-width: 768px) {
  .card-group, .card-body, .card-img-top {
    margin: 0 auto;
    width: 100%;
  }
  .card-group .card-group, .card-body .card-group, .card-img-top .card-group {
    width: 300px;
    margin: 0 auto;
  }
  .card-group img, .card-body img, .card-img-top img {
    width: 100%;
  }
  .card-group .card, .card-group p, .card-body .card, .card-body p, .card-img-top .card, .card-img-top p {
    width: 200px;
  }
  .card-group .card, .card-body .card, .card-img-top .card {
    width: 350px;
  }
  .card-group .card-body h3, .card-body .card-body h3, .card-img-top .card-body h3 {
    font-size: 20px;
  }
  .title-heroes h2 {
    font-size: 30px;
    text-align: center;
  }
  .title-heroes p {
    font-size: 12px;
    max-width: 768px;
  }
}
@media all and (max-width: 400px) {
  .card-group, .card-body, .card-img-top {
    margin: 0 auto;
    width: 100%;
    width: 350px;
  }
  .card-group img, .card-body img, .card-img-top img {
    width: 100%;
  }
  .card-group .card, .card-group p, .card-body .card, .card-body p, .card-img-top .card, .card-img-top p {
    width: 300px;
  }
  .card-group .card, .card-body .card, .card-img-top .card {
    width: 350px;
  }
  .card-group .card .card-img-top, .card-body .card .card-img-top, .card-img-top .card .card-img-top {
    width: 350px;
  }
  .title-heroes h2 {
    font-size: 30px;
    text-align: center;
    max-width: 399px;
  }
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: #000 !important;
}

main {
  background: url(../../assets/mw2-home-desktop-bg.jpg);
  background-repeat: repeat-y;
}
main .main_block {
  position: relative;
  padding-top: 120px;
  background: url(../../assets/mw2-ghost-hero-desktop.png);
  background-repeat: no-repeat;
  background-size: contain;
  height: 100vh;
  display: flex;
}
main .main_block .left {
  width: 50%;
  height: 50%;
}
main .main_block .right {
  justify-content: center;
  text-align: center;
  justify-content: center;
}
main .main_block .right img {
  margin-top: 5px;
  margin-left: 130px;
  width: 500px;
}
main .main_block .right h1 {
  font-size: 17px;
  font-family: "Open Sans", sans-serif;
  font-weight: 600;
  color: #fff;
  margin-left: 140px;
  margin-top: 15px;
}
main .main_block .right p {
  margin-top: 10px;
  margin-left: 200px;
  font-family: "Open Sans", sans-serif;
  width: 500px;
  margin-left: 130px;
  font-weight: 600;
  color: #fff;
  box-sizing: border-box;
}
main .main_block .right button {
  font-family: "Open Sans", sans-serif;
  font-size: 24px;
  text-align: center;
  margin-left: 130px;
  margin-bottom: 40px;
  width: 400px;
  margin-top: 25px;
  background: #71af3a;
  color: #d2d4cd;
  border: 1px solid #71af3a;
  font-size: 18px;
  padding: 12px 48px;
  transition: 0.3s all ease-in-out;
}
main .main_block .right button:hover {
  color: white;
  text-shadow: 0px 0px 15px black;
}
main .main_block .right .frame__bg {
  background: url(../assets/green-thumbnail-frame.png);
  background-repeat: no-repeat;
  background-size: contain;
  width: 400px;
  height: 350px;
  margin-left: 100px;
}
main .main_block .right .frame__bg iframe {
  margin-top: 4px;
  margin-left: 4px;
}

@media screen and (max-width: 1440px) {
  .right h1 {
    font-size: 20px;
    position: relative;
  }
  main .main_block .right img {
    width: 400px;
  }
  main .main_block .right .frame__bg {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: -50px;
    margin-left: 150px;
  }
  main .main_block .right .frame__bg iframe {
    width: 500px;
    height: 300px;
  }
  main .main_block .right button {
    width: 400px;
    margin-left: 150px;
    padding: 5px 10px;
    margin-top: -10px;
  }
  main .main_block .right {
    justify-content: center;
    margin-left: 100px;
  }
  main .main_block {
    padding-top: 100px;
  }
}
@media screen and (max-width: 1024px) {
  center {
    justify-content: center;
    align-items: center;
  }
  center section {
    margin: 0 -200px;
    position: absolute;
  }
  main .main_block .right img {
    width: 377px;
  }
  .right h1 {
    font-size: 20px;
    position: relative;
  }
  main .main_block .right .frame__bg {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: 267px;
    margin-top: -110px;
  }
  main .main_block .right .frame__bg iframe {
    width: 300px;
    height: 200px;
  }
  main .main_block .right img {
    width: 250px;
  }
  main .main_block .right p {
    font-size: 10px;
    text-align: center;
    width: 300px;
  }
  main .main_block .right button {
    width: 100px;
    margin-top: 1px;
  }
}
@media screen and (max-width: 768px) {
  center {
    justify-content: center;
    align-items: center;
  }
  center section {
    position: absolute;
  }
  main .main_block .right img {
    width: 250px;
  }
  main .main_block .right button {
    width: 250px;
    justify-content: center;
    margin-left: 150px;
  }
  .right h1 {
    font-size: 20px;
    position: relative;
  }
  main .main_block .right .frame__bg {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  main .main_block .right .frame__bg iframe {
    margin-top: 97px;
    margin-left: 39px;
    width: 277px;
    height: 200px;
    justify-content: center;
    align-items: center;
  }
}
@media all and (max-width: 400px) {
  body {
    width: 400px;
  }
  main {
    display: block;
  }
  main .main_block {
    background: none;
    display: block;
  }
  main .main_block .left {
    background: url(../../assets/Trailer.png);
    background-size: cover;
    width: 100vw;
    background-position-x: 25%;
    height: 100vh;
    background-repeat: no-repeat;
    max-width: 100%;
  }
  main .main_block .right {
    display: none;
  }
  main .main_block .right img {
    width: 200px;
  }
  main .main_block .right h1 {
    width: 100px;
    text-align: right;
    max-width: 390px;
    display: block;
  }
  main .main_block .right .card-text {
    max-width: 300px;
  }
}/*# sourceMappingURL=body.css.map */